# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints
*.egg-info/

# Environnements virtuels (inutile sur GitHub)
.venv/
venv/

# IDE / caches
.vscode/
.idea/
.pytest_cache/
.mypy_cache/

# Airflow runtime
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/airflow.cfg
logs/

# Données & sorties locales
processed/
rejected/
bad_lines/

# Fichiers volumineux générés
*.parquet
*.log
*.zip
*.gz
*.bz2
*.xz

# Docker (optionnel)
docker-compose.override.yml
*.pid

# --- Allow offline wheels for Docker build ---
!docker/airflow/wheels/*.whl
!docker/airflow/wheels/*.tar.gz
